<div class="container">
    <h3><p>Lets go to play {{playerName}}!</p></h3>
</div>
<br><br>
<div class="container">
    <table>
        <tbody>
            <tr *ngFor="let square of squares"> 
                <td>
                    <div class="container square {{square.color}}" id={{square.id}}>
                        <img src="{{square.image}}" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container" id="move">
    <button (click)="move()" class="btn btn-success">Play!</button>
</div>
<div class="container" id="history" *ngIf="squares">
    {{squares}}
</div>